
<div class="col-sm-12">
    <h1>Toto Ecole</h1>
    
    <h2>Présentation de la Toto Ecole</h2>
    
    <p>La Toto école et ses formateurs sont les meilleurs qu'il soit !!! Alors venez </p>
</div>

<div class="col-sm-12">
    <div class="col-sm-12">
        <h2>Tarification</h2>
    </div>
    <div class="col-sm-4">
        <h3>Formule 1 : 400€</h3>
        <p>Cette formule permet de suivre les leçon de code à volonté.</p>
        <p>Chaque leçon de conduite sera ensuite facturé 40€</p>
    </div>
    <div class="col-sm-4">
        <h3>Formule 2 : 1100€</h3>
        <p>Cette formule permet de suivre les leçon de code à volonté et comprend 20 heures de conduite.</p>
        <p>Chaque leçon de conduite supplémentaire sera ensuite facturé 35€</p>
    </div>
    <div class="col-sm-4">
        <h3>Formule 3 : 1300€</h3>
        <p>Cette formule permet de suivre les leçon de code à volonté et comprend 30 heures de conduite.</p>
        <p>Chaque leçon de conduite supplémentaire sera ensuite facturé 35€</p>
    </div>
</div>