<form>
    <div class="row">
        <div class="form-group">
            <label class="col-sm-2" for="login">Addresse Email</label>
            <input class="col-sm-4" type="email" class="form-control" id="login" placeholder="Email">
        </div>
    </div>
    <div class="row">
        <div class="form-group ">
            <label class="col-sm-2" for="password">Mot de passe</label>
            <input class="col-sm-4" type="password" class="form-control" id="password" placeholder="Password">
        </div>
    </div>
</form>