// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

h1{
    font-weight: bold;
    padding-top:15px;
    text-align: center;
}

h2{
    padding-top:15px;
    font-style: italic;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}


.navbar{
    background-color: #FF9B05;
    padding-top:15px;
    
}

.footer{
    padding-top:10px;
    padding-bottom:5px;
    background-color: #333;
    text-align: center;
    color: #FFF;
    margin-top:30px;
}

.welcome{
    font-style: italic;
}

.login_button{
    font-weight: bold;
}

.login{
    text-align: center;
}